---
---

$mobile-size: 700px;

html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  font-family: "Droid Serif", "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", serif;
  font-size: 18px;
  line-height: 1.8;
  color: #111;
  background-color: #1b1e22;
}

header {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
}

.nav-item {
  display: block;
  width: 30px;
  height: 30px;
  border: 3px solid rgba(0, 0, 0, 0);
  transition: all 0.5s ease;

  .inner,
  .inner::before,
  .inner::after {
    display: block;
    width: 14px;
    height: 3px;
    content: "";
    transition: all 0.5s ease;
  }

  .inner {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    &::before {
      position: absolute;
      margin-top: -6px;
    }

    &::after {
      position: absolute;
      margin-top: 6px;
    }
  }
}

aside {
  position: fixed;
  width: 280px;
  height: 100%;
  padding: 20px;
  padding-top: 70px;
  overflow-y: auto;
  color: #fff;
  background-color: rgba(27, 30, 34, 0.98);
  transition: all 0.5s ease;
}

article {
  min-height: 100%;

  :first-child {
    margin-top: 0;
  }
}

footer {
  padding: 20px 0;
  font-size: 16px;
  color: #5a5a5a;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.markdown-body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Lato", Helvetica, sans-serif;
  }
}

.main-content {
  position: relative;
  min-height: 100%;
  padding: 70px 20px 50px;
  margin-left: 280px;
  background-color: #fff;
  transition: all 0.5s ease;

  .page-section {
    display: block;
    margin-bottom: 10px;
  }
}

.table-of-contents {
  margin: 0 -20px;

  .table-of-contents-list {
    padding: 0;
    margin: 0;
    list-style-position: inside;
    list-style-type: upper-roman;
  }

  .section,
  .category-title {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);

    &:before {
      position: absolute;
      top: 50%;
      bottom: 50%;
      left: 0;
      display: block;
      width: 3px;
      content: "";
      background: #000;
    }
  }

  .section {
    padding-left: 35px;
  }

  .closed-category .sections {
    display: none;
  }

  .selected-section .section {
    background-color: #383a3c;

    &:before {
      top: 0;
      bottom: 0;
    }
  }
}

.styleguide-intro {
  margin-top: 0;
}

.pagination {
  margin-bottom: 20px;

  .column {
    &:last-child {
      text-align: right;
    }

    a {
      display: block;
      padding: 20px 0;
    }
  }
}

.anchorjs-link {
  font-size: 18px;
}

@mixin nav-x() {
  .nav-item {
    border-color: #fff;

    .inner {
      left: 54%;
      background-color: transparent;

      &::before,
      &::after {
        width: 17px;
        background-color: #fff;
        transform: rotate(45deg);
        transform-origin: 0 50%;
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}

@mixin nav-h() {
  .nav-item {
    border-color: #111;

    .inner {
      left: 50%;
      background-color: #111;

      &::before,
      &::after {
        width: 14px;
        background-color: #111;
        transform: rotate(0);
        transform-origin: 0 50%;
      }
    }
  }
}

.is-nav-close {
  aside {
    transform: translateX(-100%);
  }

  .main-content {
    margin-left: 0;
  }

  @include nav-h();
}

.is-nav-open {
  header {
    position: fixed;
  }

  @include nav-x();
}

@media only screen and (max-width: $mobile-size) {

  aside {
    z-index: 1;
  }

  .is-nav-close {
    @include nav-x();

    header {
      position: fixed;
    }

    aside {
      width: 100%;
      transform: translateX(0);
    }

    .main-content {
      margin-left: 0;
    }
  }

  .is-nav-open {

    header {
      position: absolute;
    }

    aside {
      transform: translateX(-100%);
    }

    @include nav-h();

    .main-content {
      margin-left: 0;
    }
  }
}
