<nav class="table-of-contents">
  <ol>
  {% assign cats = site.posts | sort: 'section' | group_by: 'categories' %}
  {% for category in cats %}
    {% assign cat = category.name | remove: '["' | remove: '"]' %}
    {% capture selected_category %}{% if page.categories | first == cat %}selected{% endif %}{% endcapture %}
    <li class="{{selected_category}}">
      <div class="category-title">{{ site.data.categories[cat] }}</div>
      <ol>
        {% for post in category.items %}
        {% capture selected %}{% if page.url == post.url %}selected{% endif %}{% endcapture %}
        <li class="{{selected}}"><a href="{{site.baseurl}}{{post.url}}" class="section">{{post.title}}</a></li>
        {% endfor %}
      </ol>
    </li>
  {% endfor %}
  </ol>
</nav>
